<%= form_for(@hospital_request) do |f| %>
  <% if @hospital_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospital_request.errors.count, "error") %> prohibited this hospital_request from being saved:</h2>

      <ul>
      <% @hospital_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
