<p id="notice"><%= notice %></p>

<h1>Listing Hospital Requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospital_requests.each do |hospital_request| %>
      <tr>
        <td><%= hospital_request.name %></td>
        <td><%= hospital_request.email %></td>
        <td><%= hospital_request.telephone %></td>
        <td><%= hospital_request.message %></td>
        <td><%= link_to 'Show', hospital_request %></td>
        <td><%= link_to 'Edit', edit_hospital_request_path(hospital_request) %></td>
        <td><%= link_to 'Destroy', hospital_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hospital request', new_hospital_request_path %>
