<div class="row">
  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Evento</h3>
      </div>
      <!-- /.box-header -->
        <div class="box-body">
          <p id="notice"><%= notice %></p>
          <div class="form-group">
            <strong>Diagnostico:</strong>
  <%= @clinic_event.diagnostic %>
          </div>
          <div class="form-group">
            <strong>Prediagnostico:</strong>
  <%= @clinic_event.prediagnostic %>
          </div>
          <div class="form-group">
          <strong>Sintomas:</strong>
  <%= @clinic_event.symptoms %>
          </div>
          <div class="form-group">
              <strong>Fecha inicio:</strong>
  <%= @clinic_event.date_start %>
          </div>
          <div class="form-group">
            <strong>Fecha termino:</strong>
  <%= @clinic_event.date_finish %>
          </div>
          <div class="form-group">
            <strong>Prescripcion:</strong>
  <%= @clinic_event.prescription %>
          </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!--/.col (left) -->
</div>
