<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"  style="color:#4BD8EB; font-style: oblique;font-size: 550%; text-align: center">Life eHealthy</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/present_comunity">Hospitales</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/services">Quienes somos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/events">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/topics">Foro</a>
                    </li>
                    
                    <%if !user_signed_in?%>
                    <li>
                        <a class="page-scroll" href="/users/sign_up">Registrate</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/users/sign_in">Login</a>
                    </li>
                    <%else%>
                        <li>
                        <a class="page-scroll" href="/users/sign_out", data-method="delete">Salir</a>
                        </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <%=video_tag "Home-And-Away.mp4", {autoplay:true, loop:true}%>        
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quienes somos</h2>
                    <h3 class="section-subheading text-muted">Quienes buscamos que estes bien siempre</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">OBJETIVO</h4>
                    <p class="text-muted">ofrecer asesorías eficaces sobre su salud, apoyando en el diagnóstico médico con herramientas avanzadas de información</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SERVICIO</h4>
                    <p class="text-muted">Sistema experto basado en conocimientos de medicina</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">NUESTRO APORTE</h4>
                    <p class="text-muted">Sistema en línea que unifica las mejores tecnologías de la información para el asesoramiento médico y nutricional.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Las cosas son mejor en equipo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>

                        <%=image_tag "diag.png",{class:"img-responsive", alt:""}%>                        
                    </a>
                    <div class="portfolio-caption">
                        <h4>Diagnostico Preeliminar</h4>
                        <p class="text-muted">Hacemos el diagnostico mendiante una serie de preguntas, usando nuestro sistema experto </p>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag "medic.jpg",{class:"img-responsive", alt:""}%>
                    </a>
                     <div class="portfolio-caption">
                        <h4>Medicos</h4>
                        <p class="text-muted">Te ponemos en contacto con el mejor medico                                                                                                          </p>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%=image_tag "emer.jpg",{class:"img-responsive", alt:""}%>
                    </a>
                     <div class="portfolio-caption">
                        <h4>Emergencias</h4>
                        <p class="text-muted">Alguna emergencaa se actua de inmediato con el hospital mas cercano</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Todo lo hacemos por cuidarte.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%=image_tag "angel.jpg",{class:"img-responsive", alt:""}%>
                        <h4>Angel Ponce</h4>
                        <p class="text-muted">Gerente de operaciones</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">

                        <%=image_tag "luis.jpg",{class:"img-responsive", alt:""}%>                     
                        <h4>Luis Valdez</h4>
                        <p class="text-muted">Gerente de desarrollo</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%=image_tag "daisy.jpg",{class:"img-responsive", alt:""}%>
                        <h4>Daisy Alba</h4>
                        <p class="text-muted">Director de tecnologia</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                  <div class="col-sm-4">
                    <div class="team-member">
                        <%=image_tag "sergio.jpg",{class:"img-responsive", alt:""}%>
                        <h4>Sergio Gonzalez</h4>
                        <p class="text-muted">Director de ingenieria</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                  <div class="col-sm-4">
                    <div class="team-member">
                        <%=image_tag "ruben.jpg",{class:"img-responsive", alt:""}%>
                        <h4>Ruben Gomez</h4>
                        <p class="text-muted">Director de sistemas</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>

   
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Life eHealthy2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
 
    <!-- Portfolio Modal 2 -->
    
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>
